:root {
    --lb: aqua;
    --b: black;
    --sg: mediumspringgreen;
    --db: #1329ed;
}

* {
    background-color: beige;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

header {
    display: flex;
    padding: 50px;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    font-family: Impact;

}

header #c:hover::after {
    content: 'yrus';
    color: var(--lb)
}

#c {
    color: var(--lb);
}

header #j:hover::after {
    content: 'alili';
    color: var(--sg);
}

header h2 {
    color: grey;
    border: 1px 1px 1px 1px;
    border-color: var(--lb);

}

#j {
    color: var(--sg);
}

header #k:hover::after {
    content: 'hiabani';
    color: pink;
}

#k {
    color: pink;
}

nav {
    flex: 1 0 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

button {
    width: 250px;
    margin: 0 .5%;
    font-size: 200%;
    color: var(--db);
    background-color: lightblue;
    border: 3px solid #132;
    border-radius: 5px;
}

button:hover {
    background-color: grey;
    color: black;
}

button:active {
    font-size: 100%;
    box-shadow: #000 inset;
}

button:focus {
    outline: none;
    border-color: grey;
}

aside {

    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;

}

section {
    flex: 70%;
    padding: 20px;
}

#aboutme1 {
    margin-top: 2px;
}

#me2 {
    margin-top: 20px;
}

#portfoliopic {
    width: 75%;
    padding: 2px;
    height: 600px;
    border: 1px solid var(--b);
}

#portfolio {
    text-align: justify;
    margin-top: 20px;
}


#here {
    text-decoration: underline;
    color: var(--db);
}

#me {
    float: left;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 15%;
    padding: 1px;
    height: 200px;
    border: 1px solid var(--b);
}

footer {
    padding: 50px;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    font-family: Impact;

}

footer p {
    content: "Thank you /2763 for visiting please come back soon!";
    color: var(--b);
    z-index: 5;
}

footer p span {
    color: red;
}